.heading{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.main-about-content{
    padding: 20px;
}
.about-content{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    font: 1.4rem/1.5 'Google Sans', sans-serif;
}
.right{
    padding: 30px;
}
