body{
    background-image: linear-gradient(to right,rgb(245, 92, 92),rgb(243, 183, 183));
}
.back-white{
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    background-color: white ;
    opacity: 0.9;
    z-index: -2;
    width: 30%;
    height: 400px;
}